# å¯¹å¾—åˆ°çš„å€™é€‰æ•°æ®é›†Admin_idå’ŒItem_idè¿›è¡Œæ¸…æ´—å¹¶æå–ç‰¹å¾ä¿¡æ¯ä»¥æ”¾å…¥æ¨¡å‹ä¸­è¿›è¡Œæ¨ç†

## 1. è¯»å–ğŸŸä½¬æäº¤æ•°æ®ç”Ÿæˆç‰¹å¾ï¼Œä¹‹åä½¿ç”¨ç½‘ç»œè¿›è¡Œé‡æ–°æ’åº

ä½¿ç”¨æµ‹è¯•é›†ç”Ÿæˆitemç‰¹å¾ä¿¡æ¯ï¼Œä¸»è¦ä½“ç°åœ¨num_sellä¸Šé¢

In [3]:
import pandas as pd
import numpy as np
import pickle
import os

In [156]:
yulao_sub = pd.read_csv('../submission.csv',header=None)

In [158]:
yulao_sub.shape

(11398, 31)

In [340]:
# å°†ğŸŸä½¬çš„æäº¤ä¿¡æ¯æå–å‡ºæ¥å¹¶æ„æˆdataframeæ ¼å¼ï¼Œå°†ç”¨æˆ·ä¿¡æ¯æ‰©å……åˆ°30ä¸ªç»´åº¦
item_id_name = yulao_sub.iloc[:,1:].values.flatten()
admin_id_name = np.repeat(yulao_sub[0].values,30)
yulao_sub_feature = pd.DataFrame(columns=['buyer_admin_id','item_id'])
yulao_sub_feature['buyer_admin_id'] = admin_id_name 
yulao_sub_feature['item_id'] = item_id_name

In [341]:
yulao_sub_feature[:2]

   buyer_admin_id  item_id
0             152  8410857
1             152  7937154

### Mergeå®¢æˆ·ä¿¡æ¯

å¤„ç†é±¼ä½¬admin_id å’Œitem_idæ•°æ®

+ é¦–å…ˆæŸ¥çœ‹å®¢æˆ·ä¿¡æ¯ï¼Œå®¢æˆ·ä¿¡æ¯å¯èƒ½å­˜åœ¨ç¼ºå¤±æƒ…å†µ

ä½¿ç”¨æµ‹è¯•é›†ä¸­çš„æ•°æ®ä½œä¸ºå•†å“ç‰¹å¾

In [342]:
# ä¹‹å‰ç”Ÿæˆçš„æµ‹è¯•é›†ä¸Šç”¨æˆ·çš„ç‰¹å¾ä¿¡æ¯ï¼Œæ ¹æ®ç”¨æˆ·åœ¨æµ‹è¯•é›†ä¸Šçš„è´­ä¹°è®°å½•ç”Ÿæˆå¾—åˆ°ï¼Œå·²ç»å»é™¤äº†ç”¨æˆ·è´­ä¹°å•†å“ä¸åœ¨å•†å“è¡¨ä¸­çš„æ•°æ®
with open('features/test_admin_features.pkl','rb') as f:
    test_admin_features = pickle.load(f)

In [343]:
# åˆå¹¶ä¿¡æ¯
yulao_sub_feature = pd.merge(yulao_sub_feature, test_admin_features, on='buyer_admin_id',how='outer')
# ç¼ºå¤±ç”¨æˆ·IDä¿¡æ¯
print('ç¼ºå¤±ç”¨æˆ·idä¸ºï¼š %s'%yulao_sub_feature[yulao_sub_feature.isna().values==True]['buyer_admin_id'].unique())

ç¼ºå¤±ç”¨æˆ·idä¸ºï¼š [ 262400  495938  713555 1913825 2101357]

In [354]:
yulao_sub_feature.shape

(341940, 15)

In [347]:
yulao_sub_feature[:4]  # åˆå¹¶ç”¨æˆ·ä¿¡æ¯ä¹‹åçš„æ•°æ®

,buyer_admin_id,item_id,num_shop,num_item,pop_unpop_rate,item_price_sum,item_price_max,item_price_min,item_price_mean,item_price_median,num_item_cate,num_store_cate,shoptime_1,shoptime_2,shoptime_3
0,152,8410857,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0
1,152,7937154,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0
2,152,8472223,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0
3,152,4016066,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0

In [349]:
# ç»Ÿè®¡ç¼ºå¤±å€¼æƒ…å†µ
yulao_sub_feature.isna().sum()

buyer_admin_id         0
item_id                0
num_shop             150
num_item             150
pop_unpop_rate       150
item_price_sum       150
item_price_max       150
item_price_min       150
item_price_mean      150
item_price_median    150
num_item_cate        150
num_store_cate       150
shoptime_1           150
shoptime_2           150
shoptime_3           150
dtype: int64

 è¯»å–åŸå§‹testçš„csvæ–‡ä»¶ï¼ŒæŸ¥çœ‹ç¼ºå¤±ç”¨æˆ·çš„è´­ä¹°è®°å½•

In [344]:
test_df_src = pd.read_csv('../csv/Antai_AE_round1_test_20190626.csv')

In [345]:
test_df_src[test_df_src['buyer_admin_id'] == 262400]

      buyer_country_id  buyer_admin_id   item_id    create_order_time  irank
88847               yy          262400  10045561  2018-08-21 12:36:04      5
88848               yy          262400  10045561  2018-08-21 12:36:04      3
88849               yy          262400  10045561  2018-08-21 12:36:04      6
88850               yy          262400  10045561  2018-08-21 12:36:04      8
88851               yy          262400  10045561  2018-08-21 12:36:04     13
88852               yy          262400  10045561  2018-08-21 12:36:04      9
88853               yy          262400  10045561  2018-08-21 12:36:04      4
88854               yy          262400  10045561  2018-08-21 12:36:04      2
88855               yy          262400  10045561  2018-08-21 12:36:04     11
88856               yy          262400  10045561  2018-08-21 12:36:04     12
88857               yy          262400  10045561  2018-08-21 12:36:04      7
88858               yy          262400  10045561  2018-08-21 12:36:04     10

In [346]:
item_df[item_df['item_id'] ==10045561]

Empty DataFrame
Columns: [item_id, cate_id, store_id, item_price]
Index: []

+ å°ç»“ï¼š

æœ‰äº”ä¸ªé¡¾å®¢idä¸º[262400,  495938,  713555, 1913825, 2101357]ä»–ä»¬ä»å¤´è‡³å°¾åªä¹°äº†ä¸€ä»¶å•†å“ï¼Œä¸”è¯¥å•†å“æ²¡æœ‰å‡ºç°åœ¨å•†å“è¡¨ä¸­ï¼Œæ‰€ä»¥å¯ä»¥ç›´æ¥æ¨æ–­è¿™5ä¸ªå®¢æˆ·ä¹‹åè¿˜æ˜¯åªä¹°è¯¥å•†å“

è¿™5ä¸ªç”¨æˆ·ä¸ç”¨æ”¾å…¥æ¨¡å‹è¿›è¡Œè®­ç»ƒï¼Œæ‰€ä»¥ç›´æ¥åˆ é™¤ç¼ºå¤±çš„admin_idä¿¡æ¯

In [355]:
yulao_sub_feature.dropna(axis=0, how='any', inplace=True)  # åˆ é™¤ç¼ºå¤±å€¼æ‰€åœ¨çš„è¡Œ

In [358]:
yulao_sub_feature.isna().sum()

buyer_admin_id       0
item_id              0
num_shop             0
num_item             0
pop_unpop_rate       0
item_price_sum       0
item_price_max       0
item_price_min       0
item_price_mean      0
item_price_median    0
num_item_cate        0
num_store_cate       0
shoptime_1           0
shoptime_2           0
shoptime_3           0
dtype: int64

### Mergeå•†å“ä¿¡æ¯

In [351]:
# item å¯èƒ½åŒæ—¶å­˜åœ¨è®­ç»ƒé›†å’Œæµ‹è¯•é›†ä¸­ï¼Œæ‰€ä»¥åŒæ—¶è¯»å–ä¸¤ä¸ªæ•°æ®é›†ä¸­itemç‰¹å¾ä¿¡æ¯è¿›è¡Œç»Ÿè®¡
with open('features/test_item_features.pkl','rb') as f:
    test_item_features = pickle.load(f)

In [265]:
test_item_features[:3]

    item_id  num_sell  cate_id  store_id  item_price
0    189045         1     1506     11599         237
1  10713670         1     1911     39939         101
2  10546322         1     1553     65849          40

In [359]:
yulao_sub_feature_testitem = pd.merge(yulao_sub_feature,test_item_features,on='item_id',how='left') # mergeè®­ç»ƒé›†ä¸­å•†å“ä¿¡æ¯
yulao_sub_feature_testitem.isna().sum() # ç»Ÿè®¡ç¼ºå¤±å€¼

buyer_admin_id         0
item_id                0
num_shop               0
num_item               0
pop_unpop_rate         0
item_price_sum         0
item_price_max         0
item_price_min         0
item_price_mean        0
item_price_median      0
num_item_cate          0
num_store_cate         0
shoptime_1             0
shoptime_2             0
shoptime_3             0
num_sell             412
cate_id              412
store_id             412
item_price           412
dtype: int64

In [362]:
missing_item  = yulao_sub_feature_testitem[yulao_sub_feature_testitem.isna().values==True]['item_id'].unique()

In [369]:
print('ç¼ºå¤±å•†å“çš„ä¸ªæ•°æœ‰ï¼š %s'%missing_item.shape[0])

ç¼ºå¤±å•†å“çš„ä¸ªæ•°æœ‰ï¼š 298

In [367]:
set(item_df['item_id'].to_list()).intersection(set(missing_item))  # æ‰€ä»¥ç¼ºå¤±çš„è¿™äº›å•†å“ä¿¡æ¯å°±æ˜¯åœ¨å•†å“å±æ€§è¡¨ä¸­ç¼ºå¤±çš„å•†å“ä¿¡æ¯

set()

å¦‚æœç›´æ¥å°†è¿™äº›ç¼ºå¤±åˆ é™¤æ˜¯å¦ä¼šå½±å“adminçš„ä¸ªæ•°ï¼Ÿ

In [394]:
yulao_sub_feature_testitem_drop = yulao_sub_feature_testitem.dropna(axis=0,how='any')

æŸ¥çœ‹ç¼ºå¤±ç”¨æˆ·æƒ…å†µ

In [377]:
set(yulao_sub_feature_testitem_drop['buyer_admin_id'].unique()).difference(set(yulao_sub_feature_testitem['buyer_admin_id'].unique()))

set()

æ‰€ä»¥ç”¨æˆ·æ²¡æœ‰å‡å°‘ï¼Œåªæ˜¯å‡å°‘äº†ä¸€äº›itemï¼Œæ‰€ä»¥è¿™é‡Œå°±å°†å…¶è¿›è¡Œåˆ é™¤ï¼Œè¯¥å•†å“ä¸æ”¾å…¥æ¨¡å‹è¿›è¡Œè®­ç»ƒï¼Œåœ¨è¿›è¡Œæäº¤çš„æ—¶å€™è¿™äº›å•†å“å°±ä¿æŒåŸæ¥æ‰€åœ¨çš„ä½ç½®

In [395]:
yulao_sub_feature_testitem_drop[:4]

,buyer_admin_id,item_id,num_shop,num_item,pop_unpop_rate,item_price_sum,item_price_max,item_price_min,item_price_mean,item_price_median,num_item_cate,num_store_cate,shoptime_1,shoptime_2,shoptime_3,num_sell,cate_id,store_id,item_price
0,152,8410857,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,1.0,2686.0,6213.0,800.0
1,152,7937154,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,1.0,2686.0,40393.0,1301.0
2,152,8472223,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,1.0,2686.0,79168.0,1234.0
3,152,4016066,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,1.0,3834.0,54345.0,2245.0

In [396]:
yulao_sub_feature_testitem_drop['buyer_admin_id'].unique().shape

(11393,)

ä¿®æ”¹itemæ•°æ®ç±»å‹å¹¶ç”Ÿæˆsub pickleæ–‡ä»¶

In [397]:
yulao_sub_feature_testitem_drop['item_price'] = yulao_sub_feature_testitem_drop['item_price'].astype(np.int32)
yulao_sub_feature_testitem_drop['num_sell'] = yulao_sub_feature_testitem_drop['num_sell'].astype(np.int32)
yulao_sub_feature_testitem_drop['cate_id'] = yulao_sub_feature_testitem_drop['cate_id'].astype(np.int32)
yulao_sub_feature_testitem_drop['store_id'] = yulao_sub_feature_testitem_drop['store_id'].astype(np.int32)

/home/ai/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/ai/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ai/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ai/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [398]:
yulao_sub_feature_testitem_drop[:3]

,buyer_admin_id,item_id,num_shop,num_item,pop_unpop_rate,item_price_sum,item_price_max,item_price_min,item_price_mean,item_price_median,num_item_cate,num_store_cate,shoptime_1,shoptime_2,shoptime_3,num_sell,cate_id,store_id,item_price
0,152,8410857,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,1,2686,6213,800
1,152,7937154,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,1,2686,40393,1301
2,152,8472223,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,1,2686,79168,1234

In [399]:
yulao_sub_feature_testitem_drop['num_sell'].max()

1359

In [403]:
yulao_sub_feature_testitem_drop['label'] = -1

/home/ai/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [404]:
yulao_sub_feature_testitem_drop.isna().sum()

buyer_admin_id       0
item_id              0
num_shop             0
num_item             0
pop_unpop_rate       0
item_price_sum       0
item_price_max       0
item_price_min       0
item_price_mean      0
item_price_median    0
num_item_cate        0
num_store_cate       0
shoptime_1           0
shoptime_2           0
shoptime_3           0
num_sell             0
cate_id              0
store_id             0
item_price           0
label                0
dtype: int64

In [406]:
with open('model_data/yulao_sub_data1.pkl', 'wb') as output_file: # ä¿å­˜pickleæ–‡ä»¶
        pickle.dump(yulao_sub_feature_testitem_drop, output_file)

## ä½¿ç”¨è®­ç»ƒé›†æ•°æ®ä¸­è´­ä¹°è®°å½•ç”Ÿæˆitemç‰¹å¾ï¼Œä¸»è¦ä½“ç°åœ¨num_sellä¸Š

In [4]:
yulao_sub = pd.read_csv('../submission.csv',header=None)
yulao_sub.shape

(11398, 31)

In [17]:
# å°†ğŸŸä½¬çš„æäº¤ä¿¡æ¯æå–å‡ºæ¥å¹¶æ„æˆdataframeæ ¼å¼ï¼Œå°†ç”¨æˆ·ä¿¡æ¯æ‰©å……åˆ°30ä¸ªç»´åº¦
item_id_name = yulao_sub.iloc[:,1:].values.flatten()
admin_id_name = np.repeat(yulao_sub[0].values,30)
yulao_sub_feature = pd.DataFrame(columns=['buyer_admin_id','item_id'])
yulao_sub_feature['buyer_admin_id'] = admin_id_name 
yulao_sub_feature['item_id'] = item_id_name
yulao_sub_feature[:3]

   buyer_admin_id  item_id
0             152  8410857
1             152  7937154
2             152  8472223

+ Mergeå®¢æˆ·ä¿¡æ¯

å’Œå‰é¢çš„æ“ä½œä¸€æ ·ï¼Œç”¨æˆ·ä¿¡æ¯è‚¯å®šæ˜¯ä»testé›†ä¸­æå–å¾—åˆ°

In [15]:
# ä¹‹å‰ç”Ÿæˆçš„æµ‹è¯•é›†ä¸Šç”¨æˆ·çš„ç‰¹å¾ä¿¡æ¯ï¼Œæ ¹æ®ç”¨æˆ·åœ¨æµ‹è¯•é›†ä¸Šçš„è´­ä¹°è®°å½•ç”Ÿæˆå¾—åˆ°ï¼Œå·²ç»å»é™¤äº†ç”¨æˆ·è´­ä¹°å•†å“ä¸åœ¨å•†å“è¡¨ä¸­çš„æ•°æ®
with open('features/test_admin_features.pkl','rb') as f:
    test_admin_features = pickle.load(f)

In [18]:
# åˆå¹¶ä¿¡æ¯
yulao_sub_feature = pd.merge(yulao_sub_feature, test_admin_features, on='buyer_admin_id',how='outer')
# ç¼ºå¤±ç”¨æˆ·IDä¿¡æ¯
print('ç¼ºå¤±ç”¨æˆ·idä¸ºï¼š %s'%yulao_sub_feature[yulao_sub_feature.isna().values==True]['buyer_admin_id'].unique())

ç¼ºå¤±ç”¨æˆ·idä¸ºï¼š [ 262400  495938  713555 1913825 2101357]

In [21]:
yulao_sub_feature.dropna(axis=0, how='any', inplace=True)  # åˆ é™¤ç¼ºå¤±å€¼æ‰€åœ¨çš„è¡Œ

+ mergeå•†å“ä¿¡æ¯

å•†å“ä¿¡æ¯ä¸­ä¸»è¦çš„ç‰¹å¾ä¸ºnull_sell, å¦‚æœè®­ç»ƒé›†ä¸­æœ‰num_sellå°±ç”¨è®­ç»ƒé›†ä¸­çš„æ•°æ®ï¼Œæ²¡æœ‰çš„è¯å°±ç”¨æµ‹è¯•é›†ä¸­çš„æ•°æ®

In [23]:
with open('features/test_item_features.pkl','rb') as f:
    test_item_features = pickle.load(f)
with open('features/train_item_features.pkl','rb') as f:
    train_item_features = pickle.load(f)

In [87]:
yulao_sub_feature_trainitem = pd.merge(yulao_sub_feature,train_item_features,on='item_id',how='left') # mergeè®­ç»ƒé›†ä¸­å•†å“ä¿¡æ¯
yulao_sub_feature_trainitem.isna().sum() # ç»Ÿè®¡ç¼ºå¤±å€¼

buyer_admin_id           0
item_id                  0
num_shop                 0
num_item                 0
pop_unpop_rate           0
item_price_sum           0
item_price_max           0
item_price_min           0
item_price_mean          0
item_price_median        0
num_item_cate            0
num_store_cate           0
shoptime_1               0
shoptime_2               0
shoptime_3               0
num_sell             27200
cate_id              27200
store_id             27200
item_price           27200
dtype: int64

In [88]:
yulao_sub_feature_testitem = pd.merge(yulao_sub_feature,test_item_features,on='item_id',how='left') # mergeè®­ç»ƒé›†ä¸­å•†å“ä¿¡æ¯
yulao_sub_feature_testitem.isna().sum() # ç»Ÿè®¡ç¼ºå¤±å€¼

buyer_admin_id         0
item_id                0
num_shop               0
num_item               0
pop_unpop_rate         0
item_price_sum         0
item_price_max         0
item_price_min         0
item_price_mean        0
item_price_median      0
num_item_cate          0
num_store_cate         0
shoptime_1             0
shoptime_2             0
shoptime_3             0
num_sell             412
cate_id              412
store_id             412
item_price           412
dtype: int64

In [95]:
yulao_sub_feature_item = yulao_sub_feature_trainitem.fillna(yulao_sub_feature_testitem)  # ç”¨test_itemä¸­çš„æ•°æ®å¡«å……ç¼ºå¤±å€¼

In [96]:
yulao_sub_feature_item[:3]

,buyer_admin_id,item_id,num_shop,num_item,pop_unpop_rate,item_price_sum,item_price_max,item_price_min,item_price_mean,item_price_median,num_item_cate,num_store_cate,shoptime_1,shoptime_2,shoptime_3,num_sell,cate_id,store_id,item_price
0,152,8410857,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,2.0,2686.0,6213.0,800.0
1,152,7937154,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,61.0,2686.0,40393.0,1301.0
2,152,8472223,7.0,7.0,0.0,14538.0,7479.0,200.0,2076.857143,1279.0,4.0,7.0,7.0,0.0,0.0,6.0,2686.0,79168.0,1234.0

åˆ é™¤ç¼ºå¤±å€¼ï¼Œå‡†å¤‡è¾“å‡ºç‰¹å¾

In [98]:
yulao_sub_feature_item = yulao_sub_feature_item.dropna(axis=0,how='any')
yulao_sub_feature_item['item_price'] = yulao_sub_feature_item['item_price'].astype(np.int32)
yulao_sub_feature_item['num_sell'] = yulao_sub_feature_item['num_sell'].astype(np.int32)
yulao_sub_feature_item['cate_id'] = yulao_sub_feature_item['cate_id'].astype(np.int32)
yulao_sub_feature_item['store_id'] = yulao_sub_feature_item['store_id'].astype(np.int32)

In [99]:
yulao_sub_feature_item.isna().sum()

buyer_admin_id       0
item_id              0
num_shop             0
num_item             0
pop_unpop_rate       0
item_price_sum       0
item_price_max       0
item_price_min       0
item_price_mean      0
item_price_median    0
num_item_cate        0
num_store_cate       0
shoptime_1           0
shoptime_2           0
shoptime_3           0
num_sell             0
cate_id              0
store_id             0
item_price           0
dtype: int64

In [101]:
yulao_sub_feature_item['label'] = -1

In [102]:
with open('model_data/yulao_sub_data2.pkl', 'wb') as output_file: # ä¿å­˜pickleæ–‡ä»¶
        pickle.dump(yulao_sub_feature_item, output_file)